@import 'base.css';
#main a {
  display: block;
}
#main a img {
  width: 100%;
}
#main .banner {
  padding: 0 0.1rem;
}
#main .banner .left a {
  display: flex;
}
#main .banner .left a img {
  width: 50%;
  height: 1.2rem;
}
#main .banner .right a img {
  height: 2.4rem;
}
.nav {
  padding: .1rem;
}
.nav a {
  display: inline-block;
}
.nav a img {
  width: 100%;
}
